.user-container{
    width: 100vi;
    height: 100vh;
    padding: 20px 40px;
    display: flex;
    box-sizing: border-box;
}

.content-wrapper{
    width: 100%;
    flex-grow: 1;
    height: 100%;
    padding-left: 40px;
}